In [1]:
import openpyxl
from openpyxl.styles.borders import Border, Side

import pandas as pd
from datetime import datetime
import string

In [2]:
classic_indicators = {'category_id': [1, 1, 1, 2, 2, 2],
                      'category_label':['c1', 'c1', 'c1', 'c2', 'c2', 'c2'],
                      'indicator':['turnover', 'volume', 'number of client',
                                   'turnover', 'volume', 'number of client'],
                      'value':[100, 50, 35, 200, 130, 90],
                      'evolution':[0.2, 0.18, 0.23, 0.25, 0.21, 0.3]
                     }

In [3]:
other_indicators = {'category_id': [1, 1, 2, 2],
                    'category_label':['c1', 'c1', 'c2', 'c2'],
                    'indicator':['number of store', 'detention rate',
                                 'number of store', 'detention rate'],
                    'value':[10, 0.83, 12, 0.8],
                    'evolution':[-0.2, -0.2, 0.2, 0.13]
                   }

In [4]:
products_detail = {'category_id': [1, 1, 1, 1, 1, 1, 1, 1, 1, 1],
                   'category_label':['c1', 'c1', 'c1', 'c1', 'c1', 'c1', 'c1', 'c1', 'c1', 'c1'],
                   'product_id': [1_1, 1_1, 1_1, 1_1, 1_1, 1_2, 1_2, 1_2, 1_2, 1_2],
                   'product_label':['p1', 'p1', 'p1', 'p1', 'p1', 'p2', 'p2', 'p2', 'p2', 'p2'],
                   'indicator':['turnover', 'volume', 'number of client', 'number of store', 'detention rate',
                                'turnover', 'volume', 'number of client', 'number of store', 'detention rate'],
                   'value':[40, 25, 25, 10, 0.83, 60, 25, 25, 11, 0.92],
                   'evolution':[0.2, 0.2, 0.2, -0.2, -0.2, 0.15, 0.18, 0.1, -0.1, -0.1]
                   }

In [5]:
classic_indicators_df = pd.DataFrame(classic_indicators)
other_indicators_df = pd.DataFrame(other_indicators)
products_detail_df = pd.DataFrame(products_detail)

In [6]:
classic_indicators_df

   category_id category_label         indicator  value  evolution
0            1             c1          turnover    100       0.20
1            1             c1            volume     50       0.18
2            1             c1  number of client     35       0.23
3            2             c2          turnover    200       0.25
4            2             c2            volume    130       0.21
5            2             c2  number of client     90       0.30

In [7]:
other_indicators_df

   category_id category_label        indicator  value  evolution
0            1             c1  number of store  10.00      -0.20
1            1             c1   detention rate   0.83      -0.20
2            2             c2  number of store  12.00       0.20
3            2             c2   detention rate   0.80       0.13

In [8]:
products_detail_df

,category_id,category_label,product_id,product_label,indicator,value,evolution
0,1,c1,11,p1,turnover,40.00,0.20
1,1,c1,11,p1,volume,25.00,0.20
2,1,c1,11,p1,number of client,25.00,0.20
3,1,c1,11,p1,number of store,10.00,-0.20
4,1,c1,11,p1,detention rate,0.83,-0.20
5,1,c1,12,p2,turnover,60.00,0.15
6,1,c1,12,p2,volume,25.00,0.18
7,1,c1,12,p2,number of client,25.00,0.10
8,1,c1,12,p2,number of store,11.00,-0.10
9,1,c1,12,p2,detention rate,0.92,-0.10

In [9]:
def set_border(ws, cell_range):
    rows = ws[cell_range]
    side = Side(border_style='thin', color="FF000000")

    rows = list(rows)
    max_y = len(rows) - 1  # index of the last row
    for pos_y, cells in enumerate(rows):
        max_x = len(cells) - 1  # index of the last cell
        for pos_x, cell in enumerate(cells):
            border = Border(
                left=cell.border.left,
                right=cell.border.right,
                top=cell.border.top,
                bottom=cell.border.bottom
            )
            border.left = side
            border.right = side
            border.top = side
            border.bottom = side
            
            cell.border = border

In [10]:
out_path = './final_report.xlsx'
template = openpyxl.load_workbook('./template.xlsx')

writer = pd.ExcelWriter(out_path)
writer.book = template

df_sheet_list = [(classic_indicators_df, 'category'), (other_indicators_df, 'category'),
                  (products_detail_df, 'product')]

for (df, sht) in df_sheet_list:
    templ_sht = template[sht]
    writer.sheets = {templ_sht.title:templ_sht}

    if df is classic_indicators_df:
        classic_indicators_df.to_excel(writer, sheet_name=sht, index=False,
                                       header=False, startrow=13, startcol=2)
        set_border(writer.sheets[sht], f"C14:G{14-1+len(df)}")
    elif df is other_indicators_df:
        other_indicators_df.to_excel(writer, sheet_name=sht, index=False,
                                       header=False, startrow=13, startcol=8)
        set_border(writer.sheets[sht], f"I14:M{14-1+len(df)}")
    elif df is products_detail_df:
        products_detail_df.to_excel(writer, sheet_name=sht, index=False,
                                       header=False, startrow=12, startcol=4)
        set_border(writer.sheets[sht], f"E13:K{13-1+len(df)}")

writer.save()